<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ulisboa.tecnico.cmov.g15.airdesk" >

    <application
        android:name=".AirDesk"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysVisible" >

        <!-- this line is to display keyboard when edit text is focused -->
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.workspacelists.SwipeActivity"
            android:label="@string/title_activity_workspace_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.LoginActivity" />
        </activity>
        <activity
            android:name=".view.EditFileActivity"
            android:label="@string/title_activity_edit_file" >
        </activity>
        <activity
            android:name=".view.CreateEditOwnerWorkspaceActivity"
            android:label="@string/title_activity_create_owner_workspace" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.workspacelists.SwipeActivity" />
        </activity>
        <activity
            android:name=".view.FileListActivity"
            android:label="@string/title_activity_file_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.workspacelists.SwipeActivity" />
        </activity>
        <activity
            android:name=".view.EditAccessListActivity"
            android:label="@string/title_activity_edit_access_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.workspacelists.SwipeActivity" />
        </activity>
        <activity
            android:name=".view.ShowFileActivity"
            android:label="@string/title_activity_show_file" >
        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
